[Unit]
Description=Leetcode CF Tracker (Docker Compose)
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/mitun/Desktop/WP/Leetcode-cf-tracker
ExecStart=/usr/bin/docker compose -f /home/mitun/Desktop/WP/Leetcode-cf-tracker/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f /home/mitun/Desktop/WP/Leetcode-cf-tracker/docker-compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=default.target
